---
---

@charset "utf-8";

// variables.less
$theme-light: white;
$theme-primary: #21589c;
$theme-dark: #333;

$screen-sm: 750px;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "animate-overrides",
        "bootstrap-overrides",
        "global",
        "nav",
        "header",
        "features",
        "application",
        "about",
        "team",
        "contact",
        "news",
        "footer",
        "404"
;
