.hl2-image-outside {
  margin-top: 8rem;
  & .row {
    & div:first-child {
      border-radius: 50%;
      padding-top: 1rem;
      margin-top: -8rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .hl2-image-outside {
    margin-top: 2rem;
    & .row {
      & div:first-child {
        margin-top: -6rem;
      }
    }
  }
}
