/**
 * Contact styling
 */
#contact {
  &.bg-primary {

    & .hl2-contacts {

      & > div {
        margin: 0 ($spacer-x * 0.5);
      }

      & a.hl2-contact {
        color: $white;
        @include hover {
          color: darken($brand-primary, 15%) !important;
        }
        white-space: normal;
      }
    }
  }

  & .hl2-point-separator {
    & .fa-circle {
      font-size: ($font-size-base * 0.5);
      padding: 0 ($spacer-x * 0.5);
    }
  }
}
