.hl2-rounded {
  border-radius: 1rem;
  width: 6rem;
  height: 5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hl2-font-size-s {
  font-size: 0.85rem;
}

.hl2-features {
  & > div:first-child {
    margin: 0 auto;

    & img {
      color: $brand-primary;
    }
  }
  &:hover {
    transition: transform 150ms ease-in;
    transform: scale(1.05);
  }
}
