/**
 * Global styling
 */
html,
body {
    height: 100%;
    width: 100%;
}

body.margins {
  background-color: darken(white, 5%);
}

a {
  @include transition-all;
  color: $theme-primary;
  &:hover,
  &:focus {
    color: darken($theme-primary, 10%);
  }
}

.bg-primary a:not(.btn-default) {
  color: $theme-light;
}

// Sections

section {
  padding: 3rem 0;

  &.no-pb {
    padding-bottom: 0;
  }

  &.no-pt {
    padding-top: 0;
  }
}

.section-overlay {
  margin-top: -17%;
  padding-bottom: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
    img {
      @include border-radius($border-radius-small);
    }
}

input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}
