/**
 * Global styling
 */
body,
html {
  height: 100%;
  width: 100%;
}

body {
  -webkit-tap-highlight-color: $brand-primary;

  & ::selection,
    ::-moz-selection {
    background: $brand-primary;
    color: $white;
  }

  & .hl2-font-size-s {
    font-size: $font-size-sm;
  }

  & .hl2-font-size-m {
    font-size: $font-size-base;
  }

  & .hl2-font-size-l {
    font-size: $font-size-lg;
  }

  & .hl2-height-full {
    height: 100%;
  }

  & > header {
    padding-top: $spacer-y * 7 !important;
  }

  & > header,
  & > section {

    &.hl2-section {
      padding: ($spacer-x * 3 )($spacer-x * 5);
      min-height: 90vh;

      & .hl2-flex-full {
        flex: 1;
      }

      & .hl2-flex-half {
        flex: 0.5;
      }

      & h2 {
          padding-bottom: 1rem;
        }
    }
  }

  a {
    @include transition($transition-fade);
    color: $brand-primary;

    &:focus,
    &:hover {
      color: darken($brand-primary, 10%);
    }
  }
}

// Skills
.hl2-skill {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
