body {
  & > header {
    &.hl2-section {
      &.bg-primary {
        background: linear-gradient(135deg, $brand-primary 0%, lighten($brand-primary, 7%) 100%);

        .btn-outline-white {
          @include button-outline-variant($white, $brand-primary);
        }
      }
    }
  }
}
