#stack {

  // spacing

  .hl2-space-rocket {
    width: 65%;
  }

  @include media-breakpoint-down(sm) {

    .hl2-space-rocket {
      width: 30%;
    }
  }

  @include media-breakpoint-up(xl) {

    .hl2-space-rocket {
      width: 40%;
    }
  }
}
