---
title: Accueil
jumboTitle: Connecter intelligemment les objets est notre raison d’être
jumboLogo: true
description: Intégrez nos technologies pour réduire le temps, le coût et les risques liés à la conception d'applications IoT novatrices !
layout: default
permalink: /
jsarr:
    - home.js
---

<div class="row section border-bottom">
    {% for goal in site.data.goals %}
        <div class="mt-2 mt-lg-0 col-sm-6 col-lg-3">
            <div class="card h-100 p-3">
                <img src="{% asset '{{ goal.image }}' @path %}" class="card-img-top" height="100px">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ goal.title }}</h5>
                    <p class="card-text">{{ goal.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="products" class="row section bg-light border-bottom">
    <div class="col">
        <h1 class="text-center">Nos Produits</h1>

        <div class="row mt-5 justify-content-center">
            {% for product in site.data.products %}
                <div class="mt-2 mt-lg-0 col-sm-6 col-lg-4">
                    <div class="card h-100 p-3">
                        <img class="card-img-top p-4" src="{% asset '{{ product.image }}' @path %}" />
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="about-us" class="row section">
    <div class="col">
        <h1 class="text-center">Qui sommes-nous ?</h1>

        <div class="row mt-5 justify-content-center">
            {% for member in site.data.members %}
                <div class="p-2 col-6 col-sm-4 col-lg-2 text-center">
                    <img src="{% asset '{{ member.image }}' @path %}" class="rounded-circle img-thumbnail">
                    <ul class="mt-2 list-unstyled">
                        <li class="text-muted">{{ member.name }}</li>
                        <li>{{ member.position }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<hr class="w-50" />

<div id="contact" class="row section justify-content-center">
    <div class="col text-center">
        <h1>Vous êtes intégrateur ou fabricant d'objets connectés ?</h1>
        <p class="lead">
            Vous pouvez dès à présent satisfaire vos partenaires avec des technologies économiquement viables <br/>
            <strong>Envoyez un email à <a href="mailto:sales@hl2.com">sales@hl2.com</a></strong>
        </p>
    </div>

    <div class="w-100 mb-3"></div>

    <div class="col col-sm-8 col-md-7 col-lg-5">
        <div class="card shadow">
            <div class="card-body">
                <div class="card-text">
                    <form action="https://formspree.io/sales@hl2.com" method="POST">
                        <div class="form-group">
                            <label for="nameInput">Nom</label>
                            <input type="text" class="form-control" id="nameInput" name="name" placeholder="Prénom Nom" required>
                        </div>
                        <div class="form-group">
                            <label for="emailInput">Email</label>
                            <input type="email" class="form-control" id="emailInput" name="email" placeholder="email@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="companyInput">Société</label>
                            <input type="text" class="form-control" id="companyInput" name="company" placeholder="Acme, Inc" required>
                        </div>
                        <div class="form-group">
                            <label for="messageInput">Comment pouvons-nous vous aider ?</label>
                            <textarea class="form-control" rows="5" id="messageInput" name="message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="w-50" />

<div class="row section">
    <div class="col">
        <h1 class="text-center">Prochains Evènements</h1>
        <div class="row mt-5 justify-content-center">
            {% assign sorted = site.events | sort: 'date' | reverse %}
            {% for event in sorted limit:3 %}
              <div class="col-12 col-sm-4 col-lg-3">
                  {% include event-card-summary.html event=event %}
              </div>
            {% endfor %}
        </div>
    </div>
</div>
