---
title: HL2 group
layout: default
---
<section class="box special">
	<header class="major">
		<h2>Get the prototype you need tomorrow !
		<br />
		Test our solutions now ! </h2>
		<p>Manage your connected objects from anywhere<br />
			with our secure real-time application.</p>
	</header>
	<span class="image featured"><img src="{{ site.baseurl }}/assets/images/man-coffee-cup-pen.jpg" alt="" /></span>
	<!-- Hardware Section -->
	<section id="hardware">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h3 class="section-heading">Hardware compatible with HL2</h3>
					<hr class="primary">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img class="wow bounceIn" src="{{ site.baseurl }}/assets/images/td1208.jpg" alt="" />
						<h4>Telecom Design (TD1208)</h4>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img class="wow bounceIn" src="{{ site.baseurl }}/assets/images/nemeus.jpg" alt="" />
						<h4>Nemeus (MM02-LS-EU, MM02L-EU)</h4>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img class="wow bounceIn" src="{{ site.baseurl }}/assets/images/multitech.png" alt="" />
						<h4>Multitech (MTDOT-868)</h4>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img class="wow bounceIn" src="{{ site.baseurl }}/assets/images/multitech.png" alt="" />
						<h4>Multitech (MTDOT-915)</h4>
						<p class="text-muted wow tada" data-wow-delay=".6s">Available soon !</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img src="{{ site.baseurl }}/assets/images/HL2-standard-pld.jpg" alt="" />
						<h4>Standard HL2 PLD</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Network Section -->
	<section id="network">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h3 class="section-heading">Integrated networks</h3>
					<hr class="primary">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img class="wow bounceIn" src="{{ site.baseurl }}/assets/images/sigfox.svg" alt="" />
						<h4>Sigfox</h4>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img class="wow bounceIn" src="{{ site.baseurl }}/assets/images/loriot.png" alt="" />
						<h4>Loriot</h4>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img class="wow bounceIn" src="{{ site.baseurl }}/assets/images/orange.png" alt="" />
						<h4>Orange (France)</h4>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="service-box">
						<img class="wow bounceIn" src="{{ site.baseurl }}/assets/images/ttn.svg" alt="" />
						<h4>The Things Network</h4>
						<p class="text-muted wow tada" data-wow-delay=".6s">Coming soon !</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team Section -->
	<section id="team">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h3 class="section-heading">Our Team</h3>
					<hr class="primary">
				</div>
			</div>
			<div class="row">
				{% for member in site.people %}
				<div class="col-sm-4">
					<div class="team-member text-center">
						<img src="{{ site.baseurl }}/assets/images/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
						<h4>{{ member.name }}</h4>
						<p class="text-muted">{{ member.position }}</p>
						<ul class="list-inline social-buttons">
							{% for network in member.social %}
							<li>
								<a href="{{ network.url }}">
									<i class="fa fa-{{ network.title }}"></i>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</section>
