{% capture content_slide %}{% include contents/home/carousel/slide-0.md %}{% endcapture %}
<div
  class="row justify-content-between align-items-strech bg-primary text-center text-white hl2-carousel-html-slide"
>
  <div class="col-md-5 d-flex flex-column justify-content-center">
    {{ content_slide | markdownify }}
    <span>
      <a
        class="btn btn-outline-white mt-5"
        href="https://panorama.hl2.com"
        target="_blank"
      >
        Sign in
      </a>
    </span>
  </div>
  <div class="col-md-5 offset-md-2 d-flex justify-content-center align-items-center">
    <img class="img-fluid hl2-img-fluid-fix-ie11" src="/img/home/home/panorama.png" alt="Panorama example" />
  </div>
</div>
