  <div class="embed-responsive bg-primary">
    <iframe
      class="embed-responsive-item"
      src="https://www.youtube.com/embed/-sPjoHgGGU4?rel=0&showinfo=0&autoplay=1&loop=1&mute=1&version=3&playlist=-sPjoHgGGU4"
      allowfullscreen
      >
    </iframe>
  </div>
  <div class="hl2-backdrop"></div>
  <div class="carousel-caption hl2-carousel-caption">
    <h2>Our Kickstarter campaign is launched!</h2>
    <p class="lead">Introducing a new, simple and flexible way to use Sigfox™ and LoRaWAN™ networks</p>
    <span
      class="pt-2"
    >
      <a
        class="btn btn-kickstarter btn-lg mt-5"
        href="https://www.kickstarter.com/projects/hl2/pld-hl2-panorama-sigfox-lorawan-iot-device-saas-pl?ref=signature-email"
        target="_blank"
      >
        Back us
      </a>
    </span>
  </div>
