<div class="carousel-item bg-primary active">
  <div class="hl2-embed-responsive">
    <video
      autoplay
      loop
      muted
      poster="/assets/img/home/carousel/pld-fallback.jpg"
    >
      <source src="/assets/img/home/carousel/hl2-solution.mp4" type="video/mp4">
      <source src="/assets/img/home/carousel/hl2-solution.webm" type="video/webm">
      you need a browser which supports html5 to run this content
    </video>
  </div>
  <div class="hl2-backdrop"></div>
  <div class="carousel-caption hl2-carousel-caption">
    <h1>HL2 group's all inclusive IoT solution</h1>
    <p class="lead">Introducing a new, simple and flexible way to use Sigfox™ and LoRaWAN™ networks</p>
      <a
        class="btn btn-primary btn-lg mt-4"
        href="https://panorama.hl2.com"
        target="_blank"
      >
        Sign in
      </a>
  </div>
</div>
