{% capture content_contact %}{% include contents/contact.md %}{% endcapture %}
<footer id="contact" class="bg-primary text-white">
  <div class="row justify-content-center">
    <div class="col-8 text-center pt-5">
      {{ content_contact | markdownify }}
    </div>
  </div>
  <div class="row justify-content-center no-gutters p-3 text-center pb-5 hl2-contacts">
    <div class="col col-sm-1 pb-3 pb-md-0">
      <a
        href="https://maps.google.com/maps{{ site.gmap_parameters }}"
        target="_blank"
        class="hl2-contact"
      >
        <i class="fa fa-map-marker fa-3x"></i>
      </a>
    </div>
    <div class="col col-sm-1 pb-3 pb-md-0">
      <a
        href="https://twitter.com/{{ site.twitter_username }}"
        target="_blank"
        class="hl2-contact"
      >
        <i class="fa fa-twitter fa-3x"></i>
      </a>
    </div>
    <div class="col col-sm-1 pb-3 pb-md-0">
      <a
        href="mailto:{{ site.email }}"
        target="_blank"
        class="hl2-contact"
      >
        <i class="fa fa-envelope-o fa-3x"></i>
      </a>
    </div>
    <div class="col col-sm-1 pb-3 pb-md-0">
      <a
        href="https://facebook.com/{{ site.facebook_username }}"
        target="_blank"
        class="hl2-contact"
      >
      <i class="fa fa-facebook fa-3x"></i>
    </a>
    </div>
  </div>
  <div class="row p-2 hl2-font-size-s">
    <div class="col text-center">
      {{ site.address.line_1 }}
      <br />
      {{ site.address.line_2 }}
      <br />
      {{ site.address.line_3 }}
      <br />
      {{ site.address.line_4 }}
    </div>
  </div>
  <div class="row pt-2 hl2-font-size-s">
    <div class="col text-center">
      <p class="hl2-point-separator">
        <span>© 2017 HL2 group</span>
        <i class="fa fa-circle"></i>
        <a class="text-white" href="/legal_notices">legal notices</a>
      </p>
    </div>
  </div>
</footer>
