<section id="about" class="container-fluid hl2-section d-flex flex-column justify-content-around bg-primary text-white">
  <div class="row">
    <div class="col-1 col-sm-1"></div>
    <div class="col-10 col-sm-10">
      <div class="embed-responsive embed-responsive-16by9 rounded">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/E0Hgz7FIazI?rel=0&showinfo=0"
          allowfullscreen
          >
        </iframe>
      </div>
    </div>
    <div class="col-1 col-sm-1"></div>
  </div>
  <div class="row">
    {% for plus in site.data.plus %}
    <div class="col-sm-6 p-3">
      <div class="hl2-list">
        <div class="btn btn-secondary rounded-circle hl2-btn">+</div>
        <h5 class="hl2-font-size-l pl-2 mt-0 mb-0">{{ plus.title }}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
