<section id="application" class="container-fluid bg-primary hl2-image-outside">
  <div class="row">
    <div class="col-4 bg-primary">
      <img class="img-fluid" src="img/panorama.svg" alt="logo Panorama application" />
    </div>
    <div class="col-md-8 text-white d-flex flex-column">
      <h2 class="pb-5">
        Saas solution
      </h2>
      <p>
        The HL2 Panorama allows for quick application development through an
        intuitive graphical user interface.
      </p>
      <p>
        Keep what you have, add what you need: you can choose the level of
        integration with your existing solution,
        or even start from scratch using HL2 Panorama modules exclusively.
      </p>
    </div>
  </div>
</section>
