<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Empower your organization !</h2>
                <hr class="light">
                <ol class="text-center text-faded">
                  <li>Define the sensors and local processing</li>
                  <li>Define the service platform</li>
                  <li>Enjoy !</li>
                </ol>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
