<section class="container-fluid bg-primary box image-bottom" id="about">
    <div class="row">
        <div class="text-center">
            <h2 class="section-heading">
              Get the prototype you need tomorrow !
          		<br />
          		<br />
          		Test our solutions now !
            </h2>
            <hr class="light">
            <p class="text-faded">
              Manage your connected objects from anywhere
              <br />
              with our secure real-time application.
            </p>
            <a href="signin.html" class="btn btn-default btn-xl">Sign In</a>
        </div>
        <img class="img-responsive" src="img/header-child.jpg" alt="" />
    </div>
</section>
