<section class="container-fluid bg-primary" id="about">
    <div class="row">
        <div class="text-center col-md-6 col-md-offset-3">
            <h2 class="section-heading">
              Get the prototype you need tomorrow&nbsp!
              <br />
              <br />
              Test our solutions now&nbsp!
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="player"></div>
        </div>
    </div>
    <div class="row top-spacing">
        <div class="text-center col-md-6 col-md-offset-3">
            <p class="text-faded">
              Manage your connected objects from anywhere
              <br />
              with our secure real-time application.
            </p>
            <a href="signin.html" class="btn btn-default btn-xl">Sign Up</a>
        </div>
    </div>
</section>
