{% assign startKeyMonth = include.event.date | date: "%-m" | minus: 1 %}

<a class="event-card-summary card p-3 h-100"
   data-start-date="{{ include.event.date }}"
   href="{{ site.url }}/events#{{ include.event.slug }}">

   <div class="event-date card-image-top text-center text-white">
      <ul class="list-unstyled">
          <li class="display-4">{{ include.event.date | date: "%d" }}</li>
          <li class="text-uppercase">{{ site.data.fr.months[startKeyMonth] }}</li>
          <li>{{ include.event.date | date: "%Y" }}</li>
      </ul>
  </div>
  <div class="card-body">
      <h5 class="card-title">{{ include.event.title }}</h5>

      <ul class="card-text list-unstyled">
          <li>
              <i class="far fa-calendar-alt"></i> Du {{ include.event.date | date: "%d/%m/%Y" }} au {{ include.event.endDate | date: "%d/%m/%Y" }}
          </li>
          <li>
              {% if include.event.address %}
                  <i class="fas fa-map-marker-alt"></i> {{ include.event.address }}
              {% endif %}
          </li>
          <li>
              {% if include.event.booth %}
                  <i class="far fa-compass"></i> Stand <strong>{{ include.event.booth }}</strong>
              {% endif %}
          </li>
      </ul>
  </div>
</a>
