<footer class="row bg-light">
    <div class="row mx-auto col-sm-12 border-bottom">
        <div class="col-sm-3">
            <div class="logo">
                HL2
            </div>
        </div>
        <div class="col-sm-2">
            <h5>Get started</h5>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Downloads</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <h5>About us</h5>
            <ul>
                <li><a href="#">Company Information</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Reviews</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <h5>Support</h5>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help desk</a></li>
                <li><a href="#">Forums</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <div class="social-networks">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
            </div>
            <button type="button" class="btn btn-primary">
                Contact us
            </button>
        </div>
    </div>
    <div class="row col-sm-12 p-2 justify-content-center text-center">
        © 2018 HL2 group
    </div>
</footer>
