	</section>
	<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="icon fa-twitter wow bounceIn" data-wow-delay=".1s"><span class="label">Twitter</span></a></li>
				<li><a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" class="icon fa-facebook wow bounceIn" data-wow-delay=".1s"><span class="label">Facebook</span></a></li>
				<li><a href="mailto:{{ site.email }}" target="_blank" class="icon fa-envelope-o wow bounceIn" data-wow-delay=".1s"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.name }}. All rights reserved.</li>
				<li>Design: <a href="{{ site.baseurl }}">{{ site.name }}</a></li>
				<li>{{ site.address }}</li>
			</ul>
		</footer>
  	{% include scripts.html %}
	</body>
</html>
