<footer class="row section bg-light border-top">
    <div class="col">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col">
                        <h5>Liens</h5>
                        <ul class="list-unstyled">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/#newsletter" class="scroll">Newsletter</a></li>
                            <li><a href="/#products" class="scroll">Nos Produits</a></li>
                            <li><a href="/#about-us" class="scroll">Qui sommes-nous ?</a></li>
                            <li><a href="events" class="scroll">Evènements</a></li>
                            <li><a href="http://developers.hl2.com">Développeurs</a></li>
                            <li><a href="/#contact" class="scroll">Contact</a></li>
                            <li><a href="legal-notices">Mentions Légales</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="row h-100">
                            <div class="col">
                                <h5>Contact</h5>
                                <p><i class="far fa-envelope"></i> <a href="mailto:contact@hl2.com">contact@hl2.com</a></p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <h5>Adresse</h5>
                                <address>
                                    HL2 group <br/>
                                    Futuropolis 5, Teleport 4 <br/>
                                    Avenue Thomas Edison <br/>
                                    86960 Futuroscope Chasseneuil, France <br/>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <iframe class="h-100 w-100"
                        frameborder="0"
                        src="https://www.google.com/maps/embed/v1/place?q=HL2%20group%20%20Futuropolis%205%2C%20Teleport%204%20%20Avenue%20Thomas%20Edison%20%2086960%20Futuroscope%20Chasseneuil%2C%20France
                        &zoom=15
                        &key=AIzaSyCgWrkc9EP9LwpHK0E1nwmnbeSil8mPhR8">
                </iframe>
            </div>
        </div>
        <div class="row border-top mt-2">
            <div class="col my-auto">
                <span>© 2018 - HL2 group</span>
            </div>
            <div class="col my-auto">
                <ul class="list-inline m-0 p-0 text-right">
                    <li class="list-inline-item">
                        <a class="h3" href="https://github.com/{{ site.github.username }}" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h3"  href="https://twitter.com/{{ site.twitter.username }}" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h3" href="https://www.linkedin.com/company/{{ site.linkedin.username }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
