<section id="hardware" class="container-fluid bg-light">
		<div class="row">
				<div class="text-center">
  					<h2 class="section-heading">Supported hardware</h2>

				</div>
		</div>
		<div class="row">
				<div class="col-sm-3 col-xs-12 text-center">
  					<div class="service-box">
    						<img class="wow bounceIn" src="img/hardware/td1208.jpg" alt="" />
    						<h4>Telecom Design (TD1208)</h4>
  					</div>
				</div>
				<div class="col-sm-3 col-xs-12 text-center">
  					<div class="service-box">
    						<img class="wow bounceIn" src="img/hardware/nemeus.jpg" alt="" />
    						<h4>Nemeus (MM02-LS-EU, MM02-L-EU)</h4>
  					</div>
				</div>
				<div class="col-sm-3 col-xs-12 text-center">
  					<div class="service-box">
    						<img class="wow bounceIn" src="img/hardware/multitech.jpg" alt="" />
    						<h4>Multitech (MTDOT-868)</h4>
  					</div>
				</div>
				<div class="col-sm-3 col-xs-12 text-center">
  					<div class="service-box">
    						<img class="wow bounceIn" src="img/hardware/multitech.jpg" alt="" />
    						<h4>Multitech (MTDOT-915)</h4>
    						<p class="text-highlighting wow tada" data-wow-delay=".6s">Available soon !</p>
  					</div>
				</div>
				<div class="col-sm-3 col-xs-12 text-center">
  					<div class="service-box">
    						<img class="wow bounceIn" src="img/hardware/standard-HL2-pld.jpg" alt="" />
    						<h4>Standard HL2 PLD</h4>
  					</div>
				</div>
		</div>
</section>
