<section id="hardware" class="container-fluid">
	<div class="row justify-content-center">
		<div class="col">
			<h2 class="text-center p-5">
				Supported hardware
			</h2>
		</div>
	</div>
	<div class="row justify-content-start">
		{% for hardware in site.data.hardwares %}
		<div class="col-sm card border-0 sr-block">
			<img
				class="card-img-top img-fluid mx-auto"
				src="img/hardware/{{ hardware.img }}"
				alt="{{ hardware.name }} image"
			/>
			<div class="card-block text-center">
				<h5 class="card-title">{{ hardware.name }}</h5>
				<p class="card-text">
					{% if hardware.unavailable %}
					<span class="text-primary animated bounceIn">Available soon !</span>
					{% endif %}
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
