<header class="container-fluid sr-hello">
  <div class="row bg-primary text-white justify-content-center">
    <div class="col-10 text-center m-3">
      <h1>Reduce your time to market with HL2 group's all inclusive IoT solution</h1>
    </div>
  </div>
  <div class="row bg-primary text-white justify-content-center">
    <div class="col-6 col-sm-4 col-md-3 d-flex flex-column justify-content-between align-items-center">
      <img src="/img/device.svg" alt="" />
      <p class="m-2 text-center">A device</p>
    </div>
    <div class="col-1 d-flex justify-content-center align-items-center hl2-plus p-0 hidden-sm-down">
      +
    </div>
    <div class="col-6 col-sm-4 col-md-3 d-flex flex-column justify-content-between align-items-center">
      <img class="pt-5" src="/img/saas.svg" alt="" />
      <p class="m-2 text-center">A Saas solution</p>
    </div>
  </div>
  {% include features.html %}
  {% include top_list.html %}
</header>
