<header class="sr-hello">
    <div class="header-content bg-dark">
        <div class="header-content-inner p-5">
            <h1 class="sr-intro">Ultra fast prototyping of industrial IoT applications</h1>
            <div class="sr-desc">
              <h2>Fast, Frugal, Simple, Secure and Comprehensive</h2>
              <p>A comprehensive and integrated set of technologies to generate added value Services based Field collected data</p>
              <a href="#about" class="btn btn-default btn-xl sr-btn">Find Out More</a>
            </div>
        </div>
    </div>
</header>
