<header class="container-fluid hl2-home d-flex flex-column justify-content-between">
  <div class="row text-white text-center align-items-center">
    <div class="col">
      <h1 class="m-3">
        Use iOT in your daily activities
      </h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-3 col-sm-3 d-flex justify-content-center">
      <img class="img-fluid" src="/img/device.svg" alt="P.L.D. device image" />
    </div>
    <div class="col-1 col-sm-1 d-flex justify-content-center">
      <img class="img-fluid hl2-wave-large" src="/img/wave-large-left.svg" alt="" />
      <img class="img-fluid hl2-wave-small" src="/img/wave-small-left.svg" alt="" />
    </div>
    <div class="col-4 col-sm-4 d-flex justify-content-center">
      <img class="img-fluid" src="/img/cloud.svg" alt="HL2 cloud" />
    </div>
    <div class="col-1 col-sm-1 d-flex justify-content-center">
      <img class="img-fluid hl2-wave-small" src="/img/wave-small-right.svg" alt="" />
      <img class="img-fluid hl2-wave-large" src="/img/wave-large-right.svg" alt="" />
    </div>
    <div class="col-3 col-sm-3 d-flex justify-content-center">
      <img class="img-fluid" src="/img/saas.svg" alt="Panorama" />
    </div>
  </div>
  <div class="row hl2-home-next">
    <div class="col d-flex justify-content-center">
      <a href="/#about">
        <div class="mouse">
          <div class="wheel"></div>
        </div>
        <div class="go-below">
          <span class="one"></span>
          <span class="two"></span>
        </div>
      </a>
    </div>
  </div>
</header>
