<!-- Header -->
	<header id="header" class="alt">
		<h1>
	{% if page.url == "/" %}
			<a href="#banner" class="page-scroll">
				<img src="{{ site.baseurl }}/assets/images/logo.png" alt="HL2 group" />
			</a>
	{% else %}
			<a href="{{ site.baseurl }}/">
				<img src="{{ site.baseurl }}/assets/images/logo.png" alt="HL2 group" />
			</a>
	{% endif %}
		</h1>
		<nav id="nav">
			<ul>
			{% if page.url == "/" %}
				<li><a href="#banner" class="page-scroll">Home</a></li>
				<li><a href="#hardware" class="page-scroll">Hardware</a></li>
				<li><a href="#network" class="page-scroll">Network</a></li>
				<li><a href="#team" class="page-scroll">Team</a></li>
			{% else %}
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/#hardware" class="page-scroll">Hardware</a></li>
				<li><a href="{{ site.baseurl }}/#network" class="page-scroll">Network</a></li>
				<li><a href="{{ site.baseurl }}/#team" class="page-scroll">Team</a></li>
			{% endif %}
				<li><a href="{{ site.baseurl }}/blog">News</a></li>
				<li><a href="{{ site.baseurl }}/pricing.html">Pricing</a></li>
				<li><a href="{{ site.baseurl }}/signin.html" class="button">Sign In</a></li>
			</ul>
		</nav>
	</header>
