<section id="network"  class="container-fluid bg-primary">
		<div class="row">
				<div class="text-center">
  					<h2 class="section-heading">Integrated networks</h2>
  					<hr class="primary">
				</div>
		</div>
		<div class="row">
				<div class="col-sm-3 text-center">
  					<div class="service-box">
    						<img class="wow bounceIn" src="img/network/sigfox.svg" alt="" />
    						<h4>Sigfox</h4>
  					</div>
				</div>
				<div class="col-sm-3 text-center">
  					<div class="service-box">
    						<img class="wow bounceIn" src="img/network/loriot.png" alt="" />
    						<h4>Loriot</h4>
  					</div>
				</div>
				<div class="col-sm-3 text-center">
  					<div class="service-box">
    						<h4><img class="wow bounceIn" src="img/network/orange.svg" alt="Orange" /></h4>
  					</div>
				</div>
				<div class="col-sm-3 text-center">
  					<div class="service-box">
    						<h4><img class="wow bounceIn" src="img/network/ttn.svg" alt="The Things Network" /></h4>
    						<p class="text-highlighting wow tada" data-wow-delay=".6s">Coming soon !</p>
  					</div>
				</div>
		</div>
</section>
