<section id="networks" class="container-fluid bg-primary">
	<div class="row justify-content-center">
		<div class="col">
			<h2 class="text-white text-center pb-5">
				Integrated networks
			</h2>
		</div>
	</div>
	<div class="row justify-content-start">
		{% for network in site.data.networks %}
		<div class="col-sm card bg-primary border-0 sr-block">
			<img
				class="card-img-top img-fluid mx-auto"
				src="img/network/{{ network.img }}"
				alt="{{ network.imgAlt }} logo"
			/>
			<div class="card-block text-white text-center">
				{% if network.name %}
				<h5 class="card-title">{{ network.name }}</h5>
				{% endif %}
				{% if network.unavailable %}
				<p class="card-text">
					<span class="animated bounceIn">Coming soon !</span>
				</p>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</section>
