<!-- inject:js -->
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/tether.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/jquery.easing.min.js"></script>
<!-- endinject -->

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>

<!-- Youtube api -->
<script src="/js/youtube.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/main.js"></script>
