<div class="hl2-skill-content d-flex flex-column justify-content-center align-items-center">
  <div class="hl2-rounded bg-faded">
    <img
      src="/img/features/{{ site.data.features[include.index].img }}"
      alt="{{ site.data.features[include.index].imgAlt }} logo"
    />
  </div>
  <p class="m-2 text-center hl2-font-size-s">{{ site.data.features[include.index].title }}</p>
</div>
<div class="hl2-overlay p-3 d-flex flex-column justify-content-around">
  <div class="hl2-overlay-content">
    <h3>{{ site.data.features[include.index].title }}</h3>
    <p>{{ site.data.features[include.index].description }}</p>
  </div>
</div>
