<section id="skills" class="container-fluid hl2-section">
  <div class="row">
    <div class="col text-center pb-5">
      <h2>Why we make the difference?</h2>
    </div>
  </div>
  <div class="row no-gutters">
    <div
      class="col-sm-6 col-md-3 bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
    >
      {% include skill.html index=0 %}
    </div>
    <div
      class="col-sm-6 col-md-3 bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
    >
      {% include skill.html index=1 %}
    </div>
    <div
      class="col-sm-6 col-md-3 bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
    >
      {% include skill.html index=2 %}
    </div>
    <div
      class="col-sm-6 col-md-3 bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
    >
      {% include skill.html index=3 %}
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-2 hidden-md-down d-flex flex-column align-items-stretch justify-content-around">
      <div class="row no-gutters hl2-flex-half">
        <div
          class="col-sm bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
        >
          {% include skill.html index=4 %}
        </div>
      </div>
      <div class="row no-gutters hl2-flex-half">
        <div
          class="col-sm bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
        >
          {% include skill.html index=5 %}
        </div>
      </div>
    </div>
    <div class="col-sm-6 hidden-lg-up bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center">
      {% include skill.html index=4 %}
    </div>
    <div class="col-sm-6 hidden-lg-up bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center">
      {% include skill.html index=5 %}
    </div>
    <div class="col-lg-8 bg-primary d-flex flex-column justify-content-center">
      <div class="hl2-rounded bg-faded m-2">
        <img class="img-fluid" src="img/network.svg" alt="" />
      </div>
    </div>
    <div class="col-sm-6 hidden-lg-up bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center">
      {% include skill.html index=6 %}
    </div>
    <div class="col-sm-6 hidden-lg-up bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center">
      {% include skill.html index=7 %}
    </div>
    <div class="col-md-2 hidden-md-down d-flex flex-column align-items-stretch justify-content-around">
      <div class="row no-gutters hl2-flex-half">
        <div
          class="col-sm bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
        >
          {% include skill.html index=6 %}
        </div>
      </div>
      <div class="row no-gutters hl2-flex-half">
        <div
          class="col-sm bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
        >
          {% include skill.html index=7 %}
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div
      class="col-sm-6 col-md-3 bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
    >
      {% include skill.html index=8 %}
    </div>
    <div
      class="col-sm-6 col-md-3 bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
    >
      {% include skill.html index=9 %}
    </div>
    <div
      class="col-sm-6 col-md-3 bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
    >
      {% include skill.html index=10 %}
    </div>
    <div
      class="col-sm-6 col-md-3 bg-primary text-white p-3 hl2-skill d-flex flex-column justify-content-start align-items-center"
    >
      {% include skill.html index=11 %}
    </div>
  </div>
</section>
