<section id="team" class="container-fluid bg-light section-next">
    <div class="row">
      	<div class="text-center">
        		<h2 class="section-heading">Team</h2>

      	</div>
    </div>
    <div class="row">
      {% assign first = true %}
      {% for member in site.members %}
          {% if member.pic == 'claude-wesquy.jpg' %}
        <div class="col-sm-3 clearfix-hl2">
          {% else %}
        <div class="col-sm-3">
          {% endif %}
            <div class="team-member text-center">
          			<img src="img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
          			<h3>{{ member.name }}</h3>
          			<p class="text-muted">{{ member.position }}</p>
                {% if member.social | size %}
          			<ul class="list-inline social-buttons">
                  {% for network in member.social %}
            				<li>
              					<a href="{{ network.url }}" target="_blank">
                          <span class="fa-stack fa-1x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-stack-1x fa-{{ network.title }} fa-inverse"></i>
                          </span>
              					</a>
            				</li>
                  {% endfor %}
          			</ul>
              {% endif %}
        		</div>
      	</div>
        {% assign first = false %}
      {% endfor %}
    </div>
	</section>
