<div class="row m-2">
  <div class="col">
    <ul class="list-unstyled">
      <li class="media align-items-center m-3">
        <div class="btn btn-primary rounded-circle hl2-btn">+</div>
        <div class="media-body">
          <h5 class="pl-2 mt-0 mb-0">Connected devices and a SaaS solution</h5>
        </div>
      </li>
      <li class="media align-items-center m-3">
        <div class="btn btn-primary rounded-circle hl2-btn">+</div>
        <div class="media-body">
          <h5 class="pl-2 mt-0 mb-0">Transparent use of LPWAN networks</h5>
        </div>
      </li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-unstyled">
      <li class="media align-items-center m-3">
        <div class="btn btn-primary rounded-circle hl2-btn">+</div>
        <div class="media-body">
          <h5 class="pl-2 mt-0 mb-0">Perfect for rapid and lean application development</h5>
        </div>
      </li>
      <li class="media align-items-center m-3">
        <div class="btn btn-primary rounded-circle hl2-btn">+</div>
        <div class="media-body">
          <h5 class="pl-2 mt-0 mb-0">Ideal for R&D</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
