<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
{% assign title = page.ogTitle | default: page.title  %}
<meta name="twitter:title" content="{{ title | default: site.title }}">
{% assign description = page.description | default: page.excerpt %}
<meta name="twitter:description" content="{{ description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<meta name="twitter:image" content="{{ page.openGrapImg.url | default: site.openGrapImg.url }}">
<meta property="twitter:image:alt" content="{{ page.openGrapImg.alt | default: site.openGrapImg.alt }}" />
