<section class="container-fluid bg-primary" id="about">
    <div class="row">
        <div class="text-center col-md-6 col-md-offset-3">
            <h2 class="section-heading">
              Create your first app within 5 minutes&nbsp!
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="player"></div>
        </div>
    </div>
    <div class="row top-spacing">
        <div class="text-center col-md-6 col-md-offset-3">
            <a href="signin.html" class="btn btn-default btn-xl">Sign Up</a>
        </div>
    </div>
</section>
