<section id="providers" class="container-fluid hl2-section d-flex flex-column bg-primary text-white">
  <div class="row hl2-flex-full">
    <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center hl2-marge">
      <div class="hl2-num m-2">2</div>
      <h3 class="mb-0 hl2-font-size-l m-2 text-center">Network</h3>
      <a href="/#data" class="hl2-next m-2">
        <img src="/img/strip_down_white.svg" alt="" />
      </a>
    </div>
    <div class="col-sm-10 d-flex flex-column">
      <div class="row hl2-flex-full">
        <div class="col-sm-6 text-center align-self-center my-auto">
          <img class="img-thumbnail border-0" src="/img/operators.svg" alt="operators image"/>
        </div>
        <div class="col-sm-6 d-flex flex-column">
          <div
            id="network-accordion"
            class="hl2-collapse hl2-flex-full d-flex flex-column justify-content-between"
            role="tablist"
            aria-multiselectable="true"
          >
            <div class="card">
              <div class="card-header" role="tab" id="choice-heading">
                <h4
                  class="mb-0 hl2-font-size-l text-center d-flex justify-content-center align-items-stretch"
                >
                  <a
                    data-toggle="collapse"
                    data-parent="#network-accordion"
                    href="#choice-collapse"
                    aria-expanded="true"
                    aria-controls="choice-collapse"
                  >
                    Choose one or more operators
                    <img src="/img/strip_right_white.svg" alt="" />
                  </a>
                </h4>
              </div>

              <div
                id="choice-collapse"
                class="collapse show"
                role="tabpanel"
                aria-labelledby="choice-heading"
              >
                <div class="card-block">
                  <p>
                    The PLD can be connected to several LPWAN networks.
                  </p>
                  <p>
                    It may be usefull to switch to the most available network or
                    to avoid the unavailability of them.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="operators-heading">
                <h4 class="mb-0 hl2-font-size-l text-center">
                  <a
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#network-accordion"
                    href="#operators-collapse"
                    aria-expanded="false"
                    aria-controls="operators-collapse"
                  >
                    Integrated networks
                    <img src="/img/strip_right_white.svg" alt="" />
                  </a>
                </h4>
              </div>
              <div
                id="operators-collapse"
                class="collapse"
                role="tabpanel"
                aria-labelledby="operators-heading"
              >
                <div class="row card-block">
                  {% for network in site.data.networks %}
                  <div class="col-sm-6 card">
                    <img
                    class="card-img-top img-fluid mx-auto"
                    src="img/network/{{ network.img }}"
                    alt="{{ network.name }} logo"
                    />
                    <div class="card-block text-center">
                      <h5 class="card-title hl2-font-size-m">{{ network.name }}</h5>
                      <p class="card-text">
                        {% if network.unavailable %}
                        <span class="hl2-font-size-m animated bounceIn">
                          Coming soon!
                        </span>
                        {% endif %}
                      </p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
