<section id="prototyping" class="container-fluid hl2-section d-flex flex-column">
  <div class="row hl2-flex-full">
    <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center hl2-marge">
      <div class="hl2-num m-2">1</div>
      <h3 class="mb-0 hl2-font-size-l m-2 text-center text-primary">Prototyping</h3>
      <a href="/#providers" class="hl2-next m-2">
        <img src="/img/strip_down_primary.svg" alt="" />
      </a>
    </div>
    <div class="col-sm-10 d-flex flex-column">
      <div class="row">
        <div class="col text-center pb-5">
          <h2>Getting started</h2>
        </div>
      </div>
      <div class="row hl2-flex-full">
        <div class="col-sm-3 d-flex flex-column">
          <div class="row hl2-flex-full justify-content-around">
            <div class="col-sm-12 text-center align-self-center my-auto">
              <img class="img-thumbnail border-0" src="/img/hardware/standard-HL2-pld.png" alt="PLD image"/>
            </div>
            <div class="col-sm-12 align-self-center my-auto">
              <img class="img-thumbnail border-0" src="/img/hardware/standard-HL2-pld-open.png" alt="Open PLD image"/>
            </div>
          </div>
        </div>
        <div class="col-sm-9 d-flex flex-column">
          <div
            id="prototyping-accordion"
            class="hl2-collapse hl2-flex-full d-flex flex-column justify-content-between"
            role="tablist"
            aria-multiselectable="true"
          >
            <div class="card">
              <div class="card-header p-2" role="tab" id="pld-heading">
                <h4
                  class="mb-0 hl2-font-size-l text-center d-flex justify-content-center align-items-stretch"
                >
                  <a
                    data-toggle="collapse"
                    data-parent="#prototyping-accordion"
                    href="#pld-collapse"
                    aria-expanded="true"
                    aria-controls="pld-collapse"
                  >
                    The PLD device
                    <img src="/img/strip_right_primary.svg" alt="" />
                  </a>
                </h4>
              </div>

              <div
                id="pld-collapse"
                class="collapse show"
                role="tabpanel"
                aria-labelledby="pld-heading"
              >
                <div class="card-block">
                  <p class="mb-2">
                    The PLD is the latest version of our concept,
                    and is currently being evaluated by some customers.
                    The product is certified, so you can be confident about the electronics parts.
                  </p>
                  <ul>
                    <li>
                      <h5 class="hl2-font-size-l">Choose a sensor</h5>
                      <p class="mb-2">
                        You can connect your own sensors (temperature, pressure...)
                        through a dedicated connector; we provide examples!
                      </p>
                    </li>
                    <li>
                      <h5 class="hl2-font-size-l">Setting a PLD</h5>
                      <p class="mb-2">
                        The PLD Developer kit contains a top board, called a shield,
                        used for firmware development. You can connect any Arduino™
                        compatible programmer (provided with the Developer kit).
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-2" role="tab" id="hardware-heading">
                <h4 class="mb-0 hl2-font-size-l text-center">
                  <a
                    class="collapsed"
                    data-toggle="collapse"
                    data-parent="#prototyping-accordion"
                    href="#hardware-collapse"
                    aria-expanded="false"
                    aria-controls="hardware-collapse"
                  >
                    Supported hardware
                    <img src="/img/strip_right_primary.svg" alt="" />
                  </a>
                </h4>
              </div>
              <div
                id="hardware-collapse"
                class="collapse"
                role="tabpanel"
                aria-labelledby="hardware-heading"
              >
                <div class="row card-block">
                  {% for hardware in site.data.hardwares %}
                  <div class="col-sm-6 card">
                    <img
                    class="card-img-top img-fluid mx-auto"
                    src="img/hardware/{{ hardware.img }}"
                    alt="{{ hardware.name }} image"
                    />
                    <div class="card-block text-center">
                      <h5 class="card-title hl2-font-size-m">{{ hardware.name }}</h5>
                      <p class="card-text">
                        {% if hardware.unavailable %}
                        <span class="text-primary hl2-font-size-m animated bounceIn">
                          Available soon!
                        </span>
                        {% endif %}
                      </p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
