/**
 * Header styling
 */
.hl2-row-rounded-bottom {
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  padding: 0.5rem 5rem 5rem;
}

.hl2-plus {
  font-size: 5rem;
}

.hl2-btn {
  padding: 0 0.25rem;
  font-size: 2rem;
  border-style: none;
  line-height: 1.75rem;
}
