/*!
 * All information contained herein is, and remains the property of
 * HL2 group and its suppliers, if any. The intellectual and technical
 * concepts contained herein are proprietary to HL2 group and its suppliers
 * and may be covered by foreign patents, patents in process, and are
 * protected by trade secret or copyright law. Dissemination of this
 * information or reproduction of this material is strictly forbidden unless
 * prior written permission is obtained from HL2 group.
 */

.hl2-event {
  border: $list-group-border-width solid $list-group-border-color;

  // Hover state
  @include hover-focus {
    color: $list-group-link-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }

  &:active {
    color: $list-group-link-active-color;
    background-color: $list-group-link-active-bg;
  }

  & .hl2-event-date {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    @include border-radius($border-radius);

    & .hl2-event-month {
      text-transform: uppercase;
    }

    & .hl2-event-day {
      font-size: $font-size-h4;
      font-weight: 600;
    }
  }

  & .hl2-media-body-title {
    display: flex;
    align-items: center;
  }
}

@include media-breakpoint-down(xs) {
  .hl2-event {
    flex-direction: column;
  }
}
