<!DOCTYPE html>
<html lang="{{ .Language }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {{ range.AllTranslations }}
    <link
      rel="alternate"
      hreflang="{{ .Language }}"
      href="{{ .RelPermalink | relLangURL }}"
    />
    {{ end }}

    {{ template "_internal/opengraph.html" . }}

    {{ template "_internal/twitter_cards.html" . }}

    <!-- Google Tag Manager -->
    {{ if not .Site.IsServer }}
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer', {{ .Site.Params.googleTagManagerID }});
    </script>
    {{ end }}
    <!-- End Google Tag Manager -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    {{ $mainCSS := resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $mainCSS.Permalink }}" type="text/css" />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16 32x32 48x48"
      href="/favicon.png"
    />

    <title>
      {{ with.Params.Title }} {{ . }} {{ else }} {{ i18n "home" }} {{ end }} |
      {{ .Site.Title }}
    </title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    {{ if not .Site.IsServer }}
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManagerID }}"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    {{ end }}
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "header" . }}

    <div
      class="mt-for-navbar d-flex flex-fill flex-column"
      style="min-height: 100vh"
    >
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>

    {{ partial "newsletter" . }}

    {{ partial "footer" . }}

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
