<!DOCTYPE html>
<html lang="{{ .Language }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

    {{ template "_internal/opengraph.html" . }}

    {{ template "_internal/twitter_cards.html" . }}

    {{ range.AllTranslations }}
    <link
      rel="alternate"
      hreflang="{{ .Language }}"
      href="{{ .RelPermalink | relLangURL }}"
    />
    {{ end }}

    {{ $tarteaucitron := resources.Get "css/tarteaucitron.css" }}
    {{ $main := resources.Get "scss/main.scss" | resources.ToCSS }}
    {{ $bundle := slice $main $tarteaucitron | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint "sha512" }}
    <link
      rel="stylesheet"
      href="{{ $bundle.Permalink }}"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16 32x32 48x48"
      href="/favicon.png"
    />

    <title>
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Params.Title }} | {{ .Site.Title }}{{ end }}
    </title>
  </head>
  <body>
    {{ partial "header" . }}

    <div
      class="mt-for-navbar d-flex flex-fill flex-column"
      style="min-height: 100vh"
    >
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>

    {{ partial "footer" . }}

    {{ $jquery := resources.Get "js/jquery.slim.min.js" }}
    {{ $popper := resources.Get "js/popper.min.js" }}
    {{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
    {{ $tarteaucitron := resources.Get "js/tarteaucitron.js" }}
    {{ $mainTemplate := resources.Get "js/main.js" }}
    {{ $main := $mainTemplate | resources.ExecuteAsTemplate "js/main.js" . }}
    {{ $bundle := slice $jquery $popper $bootstrap $tarteaucitron $main | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
    <script
      src="{{ $bundle.Permalink }}"
      integrity="{{ $bundle.Data.Integrity }}"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
