{% capture content_hardwares %}{% include contents/home/devices_system.md %}{% endcapture %}
{% capture content_pld %}{% include contents/home/devices_pld.md %}{% endcapture %}
<section
  id="devices"
  class="row justify-content-between bg-primary text-white hl2-section-home hl2-wave hl2-90-screen-height"
>
  <div class="col">
    <div class="row hl2-flex-half mb-5">
      <div class="col-sm-6 d-flex flex-column">
        {{ content_hardwares | markdownify }}
      </div>
      <div class="col-sm-6 d-flex flex-wrap justify-content-around align-items-center">
        <div class="row justify-content-center">
          {% for hardware in site.data.hardwares %}
          <div class="col-xs-4">
            <img
              class="card-img-top img-fluid mx-auto"
              src="/assets/img/home/hardwares/{{ hardware.img }}"
              alt="{{ hardware.name }} image"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row hl2-flex-half">
      <div class="col-sm-5 d-flex justify-content-center flex-last flex-sm-first">
        <img
        class="img-fluid"
        src="/assets/img/home/pld/HL2-boitier.png"
        alt="PLD"
        />
      </div>
      <div class="col-sm-7 d-flex flex-column flex-first flex-sm-last">
        {{ content_pld | markdownify }}
      </div>
    </div>
  </div>
</section>
