{% capture content_operators %}{% include contents/home/operators.md %}{% endcapture %}
<section
  id="operators"
  class="row justify-content-between hl2-section-home hl2-wave"
>
  <div class="col">
    <div class="row hl2-flex-full">
      <div class="col-lg-6 d-flex flex-column">
        {{ content_operators | markdownify }}
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center mt-3 mt-md-0">
        <img class="img-fluid hl2-img-fluid-fix-ie11" src="/assets/img/home/operators/network.svg" alt="L.P.W.A.N." />
      </div>
    </div>
  </div>
</section>
