{% capture content_lpwan %}{% include contents/home/stack.md %}{% endcapture %}
<section
  id="stack"
  class="d-flex flex-column justify-content-between bg-primary text-white hl2-section"
>
  <div class="row hl2-flex-full">
    <div class="col-md-8 d-flex flex-column">
      {{ content_lpwan | markdownify }}
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <img class="img-fluid hl2-space-rocket" src="/img/home/stack/space-rocket.svg" alt="" />
    </div>
  </div>
</section>
