@charset "utf-8";
@import "./variables.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

@font-face {
    font-family: Aeroportal;
    src: asset_url('Aeroportal.otf') format('opentype');
}

body {
    position: relative;
}

/* Default Layout */
.section {
    @extend .p-5;
}

/* Jumbotron */
.jumbotron {
    background-color: $hl2-blue;

    @include media-breakpoint-up(lg) {
        background-image: asset_url('background.svg');
        background-repeat: no-repeat;
        background-position: right top;
    }

    .display-4 {
        @include media-breakpoint-down(sm) {
            font-size: 3rem;
        }
    }
}

/* Home */
.hl2-logo {
    font-family: Aeroportal, Open Sans, Arial, sans-serif;
    font-weight: $font-weight-bold;
    color: $hl2-blue;
}

#products {
    img {
        height: 150px;
    }
}

#about-us {
    img {
        width: 130px;
    }
}

/* Event Card */
.event-card {
    .event-date {
        background-color: $primary;
    }

    li {
        @extend .p-1;
    }

    &:hover{
        @extend .shadow;
    }
}