@charset "utf-8";
@import "./variables.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

@font-face {
    font-family: Aeroportal;
    src: asset_url('Aeroportal.otf') format('opentype');
}

body {
    position: relative;
}

/* Newsletter */
.newsletter-subscription h3 {
    font-family: $hl2-font-family;
}

/* Home */
.member-infos {
    font-family: $hl2-font-family;
}

.section-title {
    font-family: $hl2-font-family;
}

.jumbotron {
    background-color: #193c72;
    background-image: asset_url('background.svg');
    background-repeat: no-repeat;
    background-position: right top;
}

/* Events */
.events-page .card {
    &:hover{
        @extend .shadow;
        cursor: pointer;
    }  
}

/* Footer */
footer {
    .logo {
        font-size: 3rem;
        font-family: 'Aeroportal';    
    }

    .social-networks {
        font-size: 3rem;
    }
}