@charset "utf-8";
@import "./variables.scss";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

body {
    position: relative;
}

/* Default Layout */
.section {
    @extend .p-5;
}

/* Jumbotron */
.jumbotron {
    background-color: #193c72;

    @include media-breakpoint-up(lg) {
        background-image: asset_url('background.svg');
        background-repeat: no-repeat;
        background-position: right top;
    }
}

/* Home */
#products {
    img {
        height: 150px;
    }
}

#about-us {
    img {
        width: 130px;
    }
}

/* Events */
.events-page .card {
    &:hover{
        @extend .shadow;
        cursor: pointer;
    }
    &.card-link {
        color: inherit;
    }
}