{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<a class="media rounded mb-3 p-4 hl2-event" href="{{ include.post.url }}">
  <div class="d-flex mr-3 p-3">
    <img class="d-flex mr-3 mb-3 img-fluid rounded" src="{{ include.post.img.src }}" alt="{{ include.post.img.alt }}">
  </div>
  <div class="media-body p-2">
    <div
      class="mb-2"
    >
      <i class="fa fa-calendar-o" aria-label="Date"></i>
      <time class="text-muted" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ include.post.date | date: date_format }}
      </time>
    </div>
    <div class="mt-0 mb-2 hl2-media-body-title">
      <h5 class="mb-0">{{ include.post.title }}</h5>
    </div>
    {% include templates/tagsNcategories.html categories=include.post.categories tags=include.post.tags  %}
    {{ include.post.excerpt | markdownify }}
  </div>
</a>
