<div class="row p-2">
  <h4 class="col p-0 pb-1">Recent Posts</h4>
</div>
<div class="row p-2">
  <div class="col list-group">
    {% for post in site.posts limit:10 %}
      <a
        href="{{ post.url | relative_url }}"
        class="list-group-item list-group-item-action flex-column align-items-start active"
      >
        <h5 class="mb-1">{{ post.title | default: site.noTitle | escape }}</h5>
        <small>{{ post.date | date: date_format }}</small>
      </a>
    {% endfor %}
  </div>
</div>
<div class="row p-2 pt-3">
  <div class="col list-group">
    <a
      class="list-group-item list-group-item-action flex-nowrap align-items-center"
      href="{{ "/feed.xml" | relative_url }}"
      title="Blog RSS"
      aria-label="Blog RSS"
    >
      <i class="fa fa-rss-square fa-2x m-2 hl2-rss" aria-hidden="true"></i>
      <h5 class="mb-1">Subscribe to the RSS feed</h5>
    </a>
  </div>
</div>
