<div class="container-fluid border-bottom section">
  <span id="products" class="anchor"></span>

  <div class="container">
    <h1 class="text-center">{{ i18n "products" }}</h1>

    <div class="row mt-5">
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h4 class="card-title">Gateway IoT</h4>
            <p class="card-text">
              <ul class="list-unstyled">
                <li>
                  <strong>Collectez</strong> les données opérateurs (Sigfox™ et
                  LoRaWAN™)
                </li>
                <li class="mt-3">
                  <strong>Valorisez</strong> les données envoyées par vos objets
                  avec le mécanisme de <strong>mapping</strong> avancé fourni
                </li>
                <li class="mt-3">
                  <strong>Administrez</strong> simplement et efficacement votre
                  flotte d'objets
                </li>
                <li class="mt-3">
                  <strong>Intégrez</strong> rapidement les fonctionnalités
                  fournies dans votre infrastructure en utilisant les APIs REST
                  fournies
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h4 class="card-title">Reference Design PLD</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque a malesuada eros. Quisque ut luctus lorem, a finibus
              eros. Vestibulum finibus lectus eu vulputate pulvinar. In dictum
              tincidunt ullamcorper. Cras lobortis semper pulvinar.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h4 class="card-title">Edge computing SDK</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque a malesuada eros. Quisque ut luctus lorem, a finibus
              eros. Vestibulum finibus lectus eu vulputate pulvinar. In dictum
              tincidunt ullamcorper. Cras lobortis semper pulvinar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
