<div class="container-fluid border-bottom section">
  <span id="products" class="anchor"></span>

  <div class="container">
    <h1 class="text-center">{{ i18n "products" }}</h1>

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h2>Gateway IoT</h2>
          </div>
        </div>

        <div class="row align-items-center mt-4">
          <div class="col-6">
            <ul class="list-unstyled">
              <li>
                <strong>Collectez</strong> les données opérateurs (Sigfox™ et
                LoRaWAN™)
              </li>
              <li class="mt-3">
                <strong>Valorisez</strong> les données envoyées par vos objets
                avec le mécanisme de <strong>mapping</strong> avancé fourni
              </li>
              <li class="mt-3">
                <strong>Administrez</strong> simplement et efficacement votre
                flotte d'objets
              </li>
              <li class="mt-3">
                <strong>Intégrez</strong> rapidement les fonctionnalités
                fournies dans votre infrastructure en utilisant les APIs REST
                fournies
              </li>
            </ul>
          </div>
          <div class="col-2"></div>
          <div class="col-3">
            <img class="img-fluid" src="/images/antenna.svg" />
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h2>Reference Design PLD</h2>
          </div>
        </div>

        <div class="row align-items-center mt-4">
          <div class="col-6">
            <ul class="list-unstyled">
              <li>
                <strong>Collectez</strong> les données opérateurs (Sigfox™ et
                LoRaWAN™)
              </li>
              <li class="mt-3">
                <strong>Valorisez</strong> les données envoyées par vos objets
                avec le mécanisme de <strong>mapping</strong> avancé fourni
              </li>
              <li class="mt-3">
                <strong>Administrez</strong> simplement et efficacement votre
                flotte d'objets
              </li>
              <li class="mt-3">
                <strong>Intégrez</strong> rapidement les fonctionnalités
                fournies dans votre infrastructure en utilisant les APIs REST
                fournies
              </li>
            </ul>
          </div>
          <div class="col-2"></div>
          <div class="col-3">
            <img class="img-fluid" src="/images/circuit-board.svg" />
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h2>Edge computing SDK</h2>
          </div>
        </div>

        <div class="row align-items-center mt-4">
          <div class="col-6">
            <ul class="list-unstyled">
              <li><strong>Ajoutez</strong> de l'intelligence à vos objets</li>
              <li class="mt-3">
                <strong>Réalisez</strong> rapidement des analyseurs de
                signatures acoustiques et vibratoires grâce à des algorithmes
                avancés
              </li>
            </ul>
          </div>
          <div class="col-2"></div>
          <div class="col-3">
            <img class="img-fluid text-warning" src="/images/chip.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
