<div class="container-fluid bg-light border-bottom section">
  <span id="use-cases" class="anchor bg-light"></span>

  <div class="container">
    <h1 class="text-center">{{ i18n "use-cases" }}</h1>
    <div class="row mt-5">
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h4 class="card-title">Maintenance Prédictive CTA</h4>
            <h6 class="card-subtitle mb-2 text-muted">Analyse vibratoire</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque a malesuada eros. Quisque ut luctus lorem, a finibus
              eros. Vestibulum finibus lectus eu vulputate pulvinar. In dictum
              tincidunt ullamcorper. Cras lobortis semper pulvinar.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h4 class="card-title">Maintenance Prédictive Compresseurs</h4>
            <h6 class="card-subtitle mb-2 text-muted">Analyse vibratoire</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque a malesuada eros. Quisque ut luctus lorem, a finibus
              eros. Vestibulum finibus lectus eu vulputate pulvinar. In dictum
              tincidunt ullamcorper. Cras lobortis semper pulvinar.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h4 class="card-title">Détection de coups de feu</h4>
            <h6 class="card-subtitle mb-2 text-muted">Analyse acoustique</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque a malesuada eros. Quisque ut luctus lorem, a finibus
              eros. Vestibulum finibus lectus eu vulputate pulvinar. In dictum
              tincidunt ullamcorper. Cras lobortis semper pulvinar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
