---
layout: primary
---

<div class="row pt-5 pb-5">
  <div class="col">
    {{ content }}
  </div>
</div>
<div class="row">
  <div class="col">
    {% assign events = site.events | where_exp:"event", "event.date > site.time" | sort: 'date' | reverse %}

    {% unless events %}
    <p class="lead">No events for now. See our archives below?</p>
      {% assign events = site.events | sort: 'date' | reverse %}
    {% endunless %}
    <ul class="list-unstyled">
      {% for event in events %}
      <li>
        {% include templates/event/list-item.html event=event %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
