---
layout: default
---
{% assign startKeyMonth = page.date  | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%d" %}
{% assign year = page.date | date: "%Y" %}
{% assign date = day | append: ' ' | append: site.data.fr.months[startKeyMonth] | append: ' ' | append: year %}

<div class="row section justify-content-center">
    <div class="col-8">
        <h2>{{ page.title }}</h2>
        {% if page.image %}
        <img src="{{ page.image.path | default: page.image }}" class="img-fluid rounded m-2" alt="{{ page.image.alt }}">
        {% endif %}
        <div class="m-2">
            <i class="far fa-calendar" aria-label="Date"></i>
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ date }}
            </time>
        </div>
        {{ content }}
    </div>
</div>
