---
layout: default
---
<div class="hl2-wave">
  <section class="container-fluid">
    <div class="row bg-primary text-white text-center">
      <div class="col d-flex justify-content-center align-items-center hl2-primary-header">
        <h1 class="p-3">
          {{ page.title }}
        </h1>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col">
        {{ content }}
      </div>
    </div>
  </section>
</div>
{% include templates/contact.html %}
